<script lang='ts'>
    import Counter from '$lib/components/counter.svelte' 
</script>

# Using svelte in SVX

Svelte and markdown code can be written inline together in svx files. You can write svelte code just as you would inside any other other svelte file. This means that we can leverage all of Svelte's features like including svelte components inside our document. 

<Counter/>


